// Specific CSS for your home-page
.body {
  min-height: 100vh;
}

.title {
  color:white;
  font-family: 'Spinnaker', sans-serif;
}

.slogan{
  text-align: center;
}

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0px;
  width: 100%;
}
