<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="#">Confidentialité</a>
    <a href="#">Plan du site</a>
    <a href="#">Conditions générales</a>
    <a href="#">Aide</a>


  </div>
  <div>
  <i class="fas fa-heart"></i> to ride? Go BACK2BIKE
  </div>
</div>
