<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images2.giant-bicycles.com/b_white,c_crop,h_600,q_70,w_1920/hag3jdmqwicv6zwd7of0/giant_ebike_banner_navi21.jpg);">
  <div class="container">
  <div class="slogan">
    <p> <i class=" fa-solid fa-heart"> </i> to ride? Go BACK2BIKE</p>
  </div>
    <% if user_signed_in? %>
      <%= link_to "Our bikes", bikes_path, class:"btn btn-flat" %>
      <% else %>
      <%= link_to "Log in", bikes_path, class:"btn btn-flat" %>
    <% end %>
  </div>
</div>
