<h1>New reservation</h1>

<%=simple_form_for [@bike, @reservation] do |f|%>
<%= f.input :start_date, as: :datepicker%>
<%= f.input :end_date, as: :datepicker %>
<%#= f.label ? afficher le price%>
<%= f.submit "Book bike", class: "btn btn-primary"%>
<%end%>
