
<h1>SALUT TOi</h1>


<ul>

<% @bikes.each do |bike| %>
<% raise %>
<li><%= bike.description %></li>
<li><%= bike.localisation %></li>
<li><%= bike.type%></li>
<li><%= bike.daily_price %></li>
<%end%>

</ul>

</body>
</html>
