.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 2px solid rgb(215, 214, 214);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-collapse .nav-item {
  margin: 10px;

  a {
    text-decoration: none;
    color: gray
  }

}

.navbar_title {
  margin-left: 200px;
  color: rgb(38, 70, 83);
}

.dropdown-toggle::after {
  opacity: 0
}
